$color-text-dark: #2c3e50;
$color-background-light: #d8dce6; 
$color-primary: #5dade2; 

.loading-screen {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  &__title {
    color: $color-text-dark;
    text-align: center;
    margin-bottom: 32px; 
    font-size: 1.5rem;
  }

  &__progress-container {
    width: 100%;
    max-width: 600px;
    background-color: $color-background-light;
    border-radius: 9999px;
    height: 8px; 
    overflow: hidden;
  }

  &__progress-bar {
    height: 100%;
    background-color: $color-primary;
    transition: width 0.1s ease-linear; 
    border-radius: 9999px;
  }
}