$color-box-bg: #D4EBF7; 
$color-text: #000000; 
$color-title: #232F66;
$color-start-button: #264C9E; 

.welcome-screen {
  width: 100%;
  height: 100%; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__box {
    background-color: $color-box-bg;
    padding: 40px;
    border-radius: 16px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &__title {
    color: $color-title;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__text {
    color: $color-text;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__start-button {
    background-color: $color-start-button;
    color: white;
    padding: 12px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 9999px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    
    &:hover {
      background-color: darken($color-start-button, 10%);
    }
  }
}